body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

div{
    width:250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:hsl(0, 0%, 100%);
    margin:0 auto;
    box-shadow: 5px 5px 30px #ddd;
    border-radius:20px;
    padding:10px;
    margin-top:100px;
}
div img{
    min-width:230px;
    height: 230px;
    border-radius: 20px;
    padding:10px;
}
div h1{
    font-size:18px;
    text-align: justify;
    padding-left:10px;
    padding-right: 10px;
    margin-top:0;
    color:rgba(0,0,0,.8);
}
div p{
    font-size: 15px;
    color:hsl(220, 15%, 55%);
    margin-top:0;
    text-align: center;
}



/* responsive  */

@media (max-width:500px) {
    div{
        margin-top:200px;
    }
}